body{
	background-color: #000000;
	color: #ffcc00;
	text-align: center;
}	
  

p { color: #ffcc00;
  text-align: center;

}
a{
	color: #ffcc00;
	text-align: center;
}	
b{
	color: #ffcc00;
	text-align: center;
}	
